body {
	background-image: url("https://i.stack.imgur.com/Mv83H.png");
	background-attachment: fixed;
    font-family: 'Star Jedi', arial;
	text-align: center;
	margin-top: 15%;
	color: yellow;
  
	background-size: cover;
	}
	

h1, h3 {
	font-family: 'Star Jedi', arial;
	   }

#button {
	color: yellow;
	background: transparent;
	border: 3px solid yellow;
	width: 20%;
	
	border-radius: 15px;
		}
		
